[run]
source = backend
omit =
    */migrations/*
    */tests/*
    */venv/*
    */__init__.py
    backend/infrastructure/database/models.py
    backend/interfaces/http/main.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    class .*\bProtocol\):
    @(abc\.)?abstractmethod
